<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>子系统简易版（网页）</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<style>
    .mybody{
        width: 98.5%;
        margin: 10px 10px auto;
    }
    .taking{
        background: #ff8357;
    }
</style>
<body class="mybody">
<div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend style="font-size: 2em"><span id="title"></span>&nbsp;&nbsp;<span id="user">default</span></legend>

    </fieldset>
</div>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">运单号码</label>
            <div class="layui-input-inline">
                <input type="text" name="waybill_no" id="waybill" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作人代码</label>
            <div class="layui-input-inline">
                <input type="text" name="op_user_code" value="00003520" id="empCode" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作人姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="op_user_name" value="张三" id="empName" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">揽收重量</label>
            <div class="layui-input-inline">
                <input type="text" name="input_weight" value="10" id="takingWeight" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商家代码</label>
            <div class="layui-input-inline">
                <input type="text" name="seller" value="2575775285" id="seller" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">揽收信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">发件客户</label>
            <div class="layui-input-inline">
                <input type="text" name="emp_code" value="K21002107" id="customer" autocomplete="off"
                       class="layui-input taking">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">始发网点</label>
            <div class="layui-input-inline">
                <input type="text" name="source_org_code" value="210045" id="sourceOrgCode" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">目的网点</label>
            <div class="layui-input-inline">
                <input type="text" name="des_org_code" value="210077" id="desOrgCode" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作网点</label>
            <div class="layui-input-inline">
                <input type="text" name="taking_org_code" id="takingOrgCode" autocomplete="off" value="210077"
                       class="layui-input taking">
            </div>
        </div>
    </div>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">建包信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">包签号码</label>
            <div class="layui-input-inline">
                <input type="text" name="pkg_no" value="WB1230396056" id="pkgNo" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作网点</label>
            <div class="layui-input-inline">
                <input type="text" name="build_org_code" value="210901" id="bulidOrgCode" autocomplete="off"
                       lay-verify="required"
                       class="layui-input taking">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">ORGTYPE</label>
            <div class="layui-input-inline">
                <select name="build_org_type" id="buildType" lay-filter="buildType">
                    <option value="">请选择</option>
                    <option value="BRANCH">BRANCH</option>
                    <option value="TRANSFER_CENTER" selected>TRANSFER_CENTER</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">计泡信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">长</label>
            <div class="layui-input-inline">
                <input type="text" name="pkg_length" value="40" id="pkgLength" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">宽</label>
            <div class="layui-input-inline">
                <input type="text" name="pkg_width" value="50" id="pkgWidth" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">高</label>
            <div class="layui-input-inline">
                <input type="text" name="pkg_height" value="60" id="pkgHeight" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">体积重</label>
            <div class="layui-input-inline">
                <input type="text" name="volume_weight" id="volumeWeight" value="24" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">操作网点</label>
            <div class="layui-input-inline">
                <input type="text" name="jipao_org_code" value="210901" id="jipaoOrgCode" autocomplete="off"
                       lay-verify="required"
                       class="layui-input taking">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">ORGTYPE</label>
            <div class="layui-input-inline">
                <select name="jipao_org_type" id="jipaoType" lay-filter="jipaoType">
                    <option value="">请选择</option>
                    <option value="BRANCH">BRANCH</option>
                    <option value="TRANSFER_CENTER" selected>TRANSFER_CENTER</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">下车信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车签号码</label>
            <div class="layui-input-inline">
                <input type="text" name="car_no" value="CQ12344321" id="carNo" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">下车重量</label>
            <div class="layui-input-inline">
                <input type="text" name="out_weight" value="10" id="outWeight" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作网点</label>
            <div class="layui-input-inline">
                <input type="text" name="out_org_code" value="210901" id="outOrgCode" autocomplete="off"
                       lay-verify="required"
                       class="layui-input taking">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">ORGTYPE</label>
            <div class="layui-input-inline">
                <select name="out_org_type" id="outType" lay-filter="outType">
                    <option value="">请选择</option>
                    <option value="BRANCH">BRANCH</option>
                    <option value="TRANSFER_CENTER" selected>TRANSFER_CENTER</option>
                </select>
            </div>
        </div>

    </div>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">派件信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">派件人代码</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="hondonEmpCode" value="00003530" id="hondonEmpCode" autocomplete="off"-->
                       <!--lay-verify="required"-->
                       <!--class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">派件人姓名</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="handonEmpName" value="李四" id="handonEmpName" autocomplete="off"-->
                       <!--lay-verify="required"-->
                       <!--class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-inline">
            <label class="layui-form-label">派件人电话</label>
            <div class="layui-input-inline">
                <input type="text" name="signature_tel" value="13598755489" id="hondonEmpPho" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">派件网点</label>
            <div class="layui-input-inline">
                <input type="text" name="handon_org_code" value="210077" id="handonOrgCode" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend style="color: red">签收信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">收派人代码</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="signatureEmpCode" value="00003530" id="signatureEmpCode" autocomplete="off"-->
                       <!--lay-verify="required"-->
                       <!--class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">派件人姓名</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="signatureEmpName" value="李四" id="signatureEmpName" autocomplete="off"-->
                       <!--lay-verify="required"-->
                       <!--class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-inline">
            <label class="layui-form-label">签收人姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="signature_name" value="Lucy" id="signatureName" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">签收网点</label>
            <div class="layui-input-inline">
                <input type="text" name="signature_org_code" value="210077" id="signatureOrgCode" autocomplete="off"
                       lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-danger" id="taking" lay-submit lay-filter="taking">揽收</button>
            <button class="layui-btn layui-btn-danger" id="build" lay-submit lay-filter="build">建包</button>
            <button class="layui-btn layui-btn-danger" id="unpack" lay-submit lay-filter="unpack">拆包</button>
            <button class="layui-btn layui-btn-danger" id="bubble" lay-submit lay-filter="bubble">计泡</button>
            <button class="layui-btn layui-btn-danger" id="out" lay-submit lay-filter="out">下车</button>
            <button class="layui-btn layui-btn-danger" id="out_return" lay-submit lay-filter="out_return">退回</button>
            <button class="layui-btn layui-btn-danger" id="handon" lay-submit lay-filter="handon">派件</button>
            <button class="layui-btn layui-btn-danger" id="signature" lay-submit lay-filter="signature">签收</button>
            <button class="layui-btn layui-btn-danger" id="waybillGet" lay-submit lay-filter="waybillGet">一键造单</button>
            <button class="layui-btn layui-btn-danger" id="queryExpress" lay-submit lay-filter="queryExpress">查询本地流程
            </button>
            <input type="reset" class="layui-btn" id="reset2">
        </div>
    </div>
</form>
<table class="layui-table" lay-filter="ExpressDetail" id="ExpressDetail"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addExpPro">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="delData">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="importExcel">导入</button>
        <button class="layui-btn layui-btn-sm" lay-event="exportExcel">导出</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../layui/jquery-3.3.1.min.js"></script>
<script src="../layui/layui.js"></script>
<script>
    layui.use(['table','layer','form'], function() {
        let form = layui.form;
        let table = layui.table;
        let layer = layui.layer;
        let $ = layui.jquery;

        let tab;
        let reloadFlag;

        let f_flag = window.location.pathname;
        let ff_flag = f_flag.substr(f_flag.length-3,3);

        $(function () {
            $('#title').text('子系统基本操作' + ff_flag + '环境');
        });

        $(function () {
            if(($('#user').text()) === ''){
                layer.prompt({
                    formType: 3
                    ,title: '请输入标识码：'
                    ,btn:['确定','取消']
                },function (value,index) {
                    layer.close(index);
                    $('#user').text(value);
                });
            }
        });

        $('#title').click(function () {
            let flag = '';
            if (ff_flag === 'Sit'){
                flag = 'Uat'
            }else {
                flag = 'Sit'
            }
            layer.open({
                type: 1
                ,offset: 'auto'
                ,area: ['400px', '160px']
                ,btn:['确定','取消']
                ,content: '<div style="text-align: center;font-size: 1.2em;padding-top: 15px">'
                + '是否跳转至' + flag + '环境？'
                + '</div>'
                ,yes: function(index) {
                    layer.close(index);
                    window.location.href = '/mainframe/Express' + flag;
                }
            });
        });

        $('#pkgLength,#pkgHeight,#pkgWidth').blur(function () {
            let length = $('#pkgLength').val();
            let height = $('#pkgHeight').val();
            let width = $('#pkgWidth').val();
            let volume_weight = length*height*width/5000;
            $('#volumeWeight').val(volume_weight);
        });

        $('#user').click(function () {
            layer.prompt({
                formType: 3
                ,title: '请输入标识码：'
                ,btn:['确定','取消']
            },function (value,index) {
                layer.close(index);
                $('#user').text(value);
            });
        });

        form.on('submit(taking)',function (data) {
            let taking = JSON.stringify(data.field);
            $.ajax({
                url:'/taking' + ff_flag,
                data:taking,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let takingRes = JSON.parse(data);
                    if (takingRes.code === '0') {
                        layer.msg(takingRes.message);
                    }else {
                        layer.alert(takingRes.message);
                    }
                    usual("揽收",$('#sourceOrgCode').val() + '[' + $('#takingWeight').val() + ']');
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(build)',function (data) {
            let bulid = JSON.stringify(data.field);
            $.ajax({
                url:'/build' + ff_flag,
                data:bulid,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let buildRes = JSON.parse(data);
                    if (buildRes.code === '0') {
                        layer.msg(buildRes.message);
                    }else {
                        layer.alert(buildRes.message);
                    }
                    usual("建包",$('#bulidOrgCode').val());
                },
                error:function (data) {
                }
            });
            return false;
        });
        form.on('submit(unpack)',function (data) {
            let unpack = JSON.stringify(data.field);
            $.ajax({
                url:'/unpack' + ff_flag,
                data:unpack,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    // alert(data);
                    // let unpackRes = JSON.parse(data);
                    // if (unpackRes.code === '0') {
                    //     layer.msg(unpackRes.message);
                    // }else {
                    //     layer.alert(unpackRes.message);
                    // }
                    // usual("拆包",$('#bulidOrgCode').val());
                },
                error:function (data) {
                }
            });
            return false;
        });
        form.on('submit(bubble)',function (data) {
            let bubble = JSON.stringify(data.field);
            $.ajax({
                url:'/bubble' + ff_flag,
                data:bubble,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    // alert(data);
                    // let bubbleRes = JSON.parse(data);
                    // if (bubbleRes.code === '0') {
                    //     layer.msg(bubbleRes.message);
                    // }else {
                    //     layer.alert(bubbleRes.message);
                    // }
                    // usual("计泡",$('#jipaoOrgCode').val());
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(out)',function (data) {
            let out = JSON.stringify(data.field);
            $.ajax({
                url:'/out' + ff_flag,
                data:out,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let outRes = JSON.parse(data);
                    if (outRes.code === '0') {
                        layer.msg(outRes.message);
                    }else {
                        layer.alert(outRes.message);
                    }
                    usual("下车",$('#outOrgCode').val() + '[' + $('#outWeight').val() + ']');
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(out_return)',function (data) {
            let out_return = JSON.stringify(data.field);
            $.ajax({
                url:'/outReturn' + ff_flag,
                data:out_return,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let outReturnRes = JSON.parse(data);
                    if (outReturnRes.code === '0') {
                        layer.msg(outReturnRes.message);
                    }else {
                        layer.alert(outReturnRes.message);
                    }
                    usual("退回",$('#outOrgCode').val() + '[' + $('#outWeight').val() + ']');
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(handon)',function (data) {
            let handon = JSON.stringify(data.field);
            $.ajax({
                url:'/handon' + ff_flag,
                data:handon,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let handonRes = JSON.parse(data);
                    if (handonRes.code === '0') {
                        layer.msg(handonRes.message);
                    }else {
                        layer.alert(handonRes.message);
                    }
                    usual("派件",$('#handonOrgCode').val());
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(signature)',function (data) {
            let signature = JSON.stringify(data.field);
            $.ajax({
                url:'/signature' + ff_flag,
                data:signature,
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    let signatureRes = JSON.parse(data);
                    if (signatureRes.code === '0') {
                        layer.msg(signatureRes.message);
                    }else {
                        layer.alert(signatureRes.message);
                    }
                    usual("签收",$('#signatureOrgCode').val());
                },
                error:function (data) {
                }
            });
            return false;
        });

        form.on('submit(waybillGet)',function (data) {

            layer.open({
                type: 1
                ,offset: 'auto'
                ,area: ['400px', '160px']
                ,btn:['确定','取消']
                ,content: '<div style="text-align: center;font-size: 1.2em;padding-top: 15px">'
                + '客户：'
                + $('#customer').val()
                + '，网点：'
                + $('#sourceOrgCode').val()
                + '</div>'
                ,yes: function(index){
                    layer.close(index);
                    let waybillGet = JSON.stringify(data.field);
                    $.ajax({
                        url:'/waybillGet' + ff_flag,
                        data:waybillGet,
                        dataType: 'text',
                        contentType:'application/json;charset=UTF-8',
                        type:'post',
                        success:function (waybill) {
                            let soc = $('#sourceOrgCode').val();
                            let cus = $('#customer').val();
                            let seller = $('#seller').val();
                            let wb = $('#waybill');
                            layer.msg('单号生成成功，网点：' + soc);
                            wb.val(JSON.parse(waybill).data[0].wbn);
                            let xiadan = new XIADAN(cus,soc,$('#desOrgCode').val(),seller,wb.val());
                            $.ajax({
                                url:'/xiadan' + ff_flag,
                                data:JSON.stringify(xiadan),
                                dataType: 'text',
                                contentType:'application/json;charset=UTF-8',
                                type:'post',
                                success:function (data) {
                                    let msg1 = JSON.parse(data);
                                    if (msg1.code === '-1'){
                                        layer.alert(msg1.msg);
                                    } else if (msg1.code === '0') {
                                        layer.msg(msg1.msg);
                                        let ep = new EP($('#user').text(),wb.val(),cus,soc);
                                        $.ajax({
                                            url:'/insertEP' + ff_flag,
                                            data:JSON.stringify(ep),
                                            dataType: 'text',
                                            contentType:'application/json;charset=UTF-8',
                                            type:'post',
                                            success:function () {
                                            },
                                            error:function () {
                                            }
                                        });
                                    }else {
                                        layer.msg(msg1.msg);
                                        let ep = new EP($('#user').text(),wb.val(),"",soc);
                                        $.ajax({
                                            url:'/insertEP' + ff_flag,
                                            data:JSON.stringify(ep),
                                            dataType: 'text',
                                            contentType:'application/json;charset=UTF-8',
                                            type:'post',
                                            success:function () {
                                            },
                                            error:function () {
                                            }
                                        });
                                    }
                                },
                                error:function (data) {
                                }
                            });
                        },
                        error:function (data) {
                        }
                    });
                }
            });
            return false;
        });

        form.on('submit(queryExpress)',function () {

            let myUser = '';
            let date = new Date();
            let year = date.getFullYear()+'';
            let month = date.getMonth()+1;
            if (month < 10){
                month = '0'+month;
            } else {
                month = month + '';
            }
            let day = date.getDate();
            if (day < 10){
                day = '0'+day;
            } else {
                day = day + '';
            }
            layer.prompt({
                formType: 3
                ,title: '请输入查询日期：'
                ,btn:['确定','取消']
                ,value:year+month+day
            },function (value,index) {
                layer.close(index);
                if (value === '' || value === null){
                    myUser = $('#user').text()+year+month+day;
                }else {
                    myUser = $('#user').text() + value;
                }
                let ep = JSON.stringify(new EP(myUser,"","",""));
                reloadFlag = ep;
                $.ajax({
                    url:'/queryExpress' + ff_flag,
                    data:ep,
                    dataType: 'text',
                    contentType:'application/json;charset=UTF-8',
                    type:'post',
                    success:function (data) {
                        let value = JSON.parse(data);
                        tab = table.render({
                            elem: '#ExpressDetail',
                            data:value.ep,
                            toolbar: '#toolbarDemo',
                            cols:[
                                [
                                    {type:'checkbox', fixed: 'left'}
                                    ,{field:'waybill_no',fixed: 'left',title:'单号',align:'center' ,width:'15%'}
                                    ,{field:'customer',title:'客户', align:'center' ,width:'10%'}
                                    ,{field:'org_code',title:'网点',align:'center' , width:'10%'}
                                    ,{field:'create_time',title:'创建时间', align:'center' ,width:'15%',sort:true}
                                    ,{field:'operate',title:'走件操作', align:'left' ,width:'40%',event:'expPro'}
                                    ,{field:'user',fixed: 'right',title:'操作用户', align:'center' ,width:'10%'}
                                    // ,{fixed: 'right',align:'center', toolbar: '#barDemo',title:'操作', width:100}
                                ]
                            ]
                            ,page:true
                            ,limit:30
                        });
                    },
                    error:function (data) {
                    }
                });
            });
            return false;
        });

        //头工具行事件
        table.on('toolbar(ExpressDetail)', function(obj){
            let checkStatus = table.checkStatus('ExpressDetail');
            if (obj.event === 'exportExcel'){

            }else if (obj.event === 'delData'){
                let array = [];
                for (let i = 0; i < checkStatus.data.length; i++){
                    array[i] = checkStatus.data[i].waybill_no + '';
                    console.log(array[i]);
                }
                let del = {};
                del["arrays"] = array;
                $.ajax({
                    url:'/delExpPro' + ff_flag,
                    data:JSON.stringify(del),
                    dataType: 'text',
                    contentType:'application/json;charset=UTF-8',
                    type:'post',
                    success:function (data) {
                        let res = JSON.parse(data);
                        if (res.code === '0'){
                            layer.msg(res.message);
                            reloadTable()
                        } else {
                            layer.alert(res.message)
                        }
                    },
                    error:function (data) {
                    }
                });
            }else if (obj.event === 'addExpPro'){
                layer.open({
                    type:2
                    ,title:'添加走件流程'
                    ,area: ['1000px', '670px']
                    ,skin: 'demo-class'
                    ,offset: '10px'
                    ,maxmin: true
                    ,anim: 1
                    ,resize:false
                    ,content:'/addExpProDemo' + ff_flag
                    ,shade:0
                });
            }else if (obj.event === 'importExcel'){
                layer.open({
                    type:2
                    ,title:'导入走件流程'
                    ,area: ['1000px', '670px']
                    ,skin: 'demo-class'
                    ,offset: '10px'
                    ,maxmin: true
                    ,anim: 1
                    ,resize:false
                    ,content: '/expImport' + ff_flag
                    ,shade:0
                });
            }

        });
        //行工具事件
        table.on('tool(ExpressDetail)', function(obj){
            if (obj.event === 'expPro'){
                let operate = obj.data.operate.split('|');
                let content = '';
                for (let i = 0; i < operate.length; i++){
                    if (i !== 0){
                        content += operate[i].slice(0,2)+ '：' + operate[i].slice(2) + '<br>';
                    }
                }
                layer.open({
                    type: 1
                    ,title: obj.data.waybill_no
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.2
                    ,btn: ['返回']
                    ,btnAlign: 'r'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content:
                    '<div style="padding: 15px; line-height: 22px; background-color: #c7edcc; color: #000000;">'
                    + '客户：' + obj.data.customer + '<br>网点：' + obj.data.org_code + '<br><br>'
                    + '本地走件流程：<br>'
                    + content + '<br>'
                    + '执行人：'
                    +  obj.data.user
                    + '</div>'
                    // ,success: function(layero){
                    //
                    // }
                });
            }
        });

        //取值JSON化
        function EP(user,waybill_no,customer,org_code){
            this.user  = user;
            this.waybill_no = waybill_no;
            this.customer = customer;
            this.org_code = org_code;
        }
        function OP(waybill_no,operate,user) {
            this.waybill_no = waybill_no;
            this.operate = operate;
            this.user = user;
        }
        function usual(opp,oc) {
            let waybill_no = $('#waybill').val();
            let user = $('#user').text();
            let op = new OP(waybill_no,"|" + opp + oc,user);
            $.ajax({
                url:'/insertEP' + ff_flag,
                data:JSON.stringify(op),
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
            });
        }
        function reloadTable() {
            $.ajax({
                url: '/queryExpress' + ff_flag,
                data: reloadFlag,
                dataType: 'text',
                contentType: 'application/json;charset=UTF-8',
                type: 'post',
                success: function (data) {
                    let dataRes = JSON.parse(data).ep;
                    tab.reload({
                        data:dataRes
                    });
                }
            });
        }
        function XIADAN(emp_code,source_org_code,des_org_code,seller,waybill_no) {
            this.emp_code = emp_code;
            this.des_org_code = des_org_code;
            this.source_org_code = source_org_code;
            this.seller = seller;
            this.waybill_no = waybill_no;
        }
    });
</script>
</body>
</html>